@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --bright-red: #e93224;
    --dull-red: #ba3345;
    --dull-pink: #c22d61;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-end-rgb));
}

.html {
    background-image: radial-gradient(
            rgba(17, 16, 11, 0.75) 5%,
            rgba(17, 16, 11, 1) 50%
        ),
        url(https://grainy-gradients.vercel.app/noise.svg);
    height: auto;
}
