/* This is the css for the page component. You can use normal css rules here*/

#lakronvidva-heading {
    /*The conic gradient having issues when view in responsive mode.*/
    background: conic-gradient(
        from 180deg at 50% 50%,
        #00e225 -17.9deg,
        var(--bright-red) 22.33deg,
        #ba3345 48.02deg,
        #c22d61 135deg,
        #47206d 163.09deg,
        #358faf 255deg,
        #66b234 318.11deg,
        #00e225 342.1deg,
        #e93224 382.33deg
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    background-blend-mode: lighten;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 30px rgba(255, 254, 254, 0.2);
}

/* Don't what to do here. I'm not good at css-ing.*/
.header {
    width: 100%;
}
